/* Scoping background image to this specific container */
.home-container {
    height: 80vh;
    background-image: url("https://buffer.com/cdn-cgi/image/w=1000,fit=contain,q=90,f=auto/library/content/images/size/w1200/2023/10/free-images.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 0;
    margin: 0;
}

.section-container {
    padding: 20px;
    border-radius: 10px;
}

.text-section {
    flex: 4; 
    margin-left: 30px;
}

.price-section {
    /* flex: 2;  */
    /* margin-left: 120px; */
    background-color: rgba(116, 121, 131, 0.5);
    padding: 20px;
    border-radius: 10px;
    margin-right: 160px;
}

.card {
    box-shadow: 0 4px 8px rgba(148, 146, 146, 0.1);
    background-color: #777373;
}

.form-group {
    color: white;
}

.form-control {
    background-color: black;
    color: white;
}

.text-right {
    color: white;
}

.opc1btn, .op-sm-12 {
    background-color: #FCB84E;
}

/* Media query for responsiveness */
@media (max-width: 768px) {
    .d-flex {
        flex-direction: column;
        align-items: center;
    }

    .text-section, .price-section {
        margin-left: 0;
    }
}
